<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
  
    <title>Payment</title>
    <link rel="stylesheet" href="divyansh.css" media="screen">
<link rel="stylesheet" href="Payment.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="divyansh.js" defer=""></script>
    
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Cambay:400,400i,700,700i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,400,500,600,700|Amaranth:400,400i,700,700i|Aclonica:400">
    

    
  </head>
  <body class="u-body u-xl-mode"><header class="u-clearfix u-gradient u-header u-header" id="sec-d9ff"><div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse u-custom-font" style="font-size: 1rem; letter-spacing: 0px; text-transform: uppercase; font-family: Aclonica;">
            <a class="u-button-style u-custom-active-color u-custom-border u-custom-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-custom-font u-nav u-spacing-2 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-active-palette-1-base u-border-active-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white" href="Home.html" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-active-palette-1-base u-border-active-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white" href="Enrollment.html" style="padding: 10px 20px;">Enrollment</a>
</li><li class="u-nav-item"><a class="u-active-palette-1-base u-border-active-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white" href="UPDATE.html" style="padding: 10px 20px;">UPDATE</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Enrollment.html">Enrollment</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="UPDATE.html">UPDATE</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header> 
    <section class="u-clearfix u-gradient u-section-1" id="sec-87fa">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width-xs u-shape u-shape-svg u-text-palette-3-base u-shape-1">
          <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 140" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1b2f"></use></svg>
          <svg class="u-svg-content" viewBox="0 0 160 140" x="0px" y="0px" id="svg-1b2f"><g><g><path d="M138.9,102.2c-9.5,10.1-24.4,20.2-41.2,27.4C63.2,144.5,21,147.1,3.1,112.4c-9.9-19.1,6.5-28.8,11.8-45.7
			c5.3-16.9-11.4-32.3-5.1-49.9c1.8-4.9,4.9-9,8.9-11.9C24,1,30.8-0.8,37.8,0.3C43.6,1.2,49,3.5,54.3,5.7c8.8,3.7,17.4,7.1,26.3,9.8
			c15.7,4.7,31.3,3.7,47.1,7.2c8.5,1.9,16.7,5.6,22.6,11.8C170.3,55.7,155.8,84.1,138.9,102.2z"></path>
</g>
</g></svg>
        </div>
        <div class="u-align-left u-image u-image-circle u-image-contain u-image-1" data-image-width="372" data-image-height="372"></div>
        <div class="u-align-left u-container-style u-expanded-width-xs u-group u-palette-1-light-3 u-radius-10 u-shape-round u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h1 class="u-custom-font u-text u-text-palette-1-light-1 u-text-1"> eXTREMEUM UIDAI SERVICES</h1>
            <p class="u-text u-text-2">No more middlemen interfering with your Adhaar. Pay Only what you should ...</p>
            <a href="Home.html#carousel_87c6" data-page-id="944107670" class="u-active-palette-1-light-1 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1">contact us</a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-gradient u-section-2" id="sec-2fd3">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-text u-text-body-alt-color u-text-default u-text-1">YOUR DETAILS</h2>
        <div class="u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-radius-29 u-shape-round u-white u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h3 class="u-align-left u-custom-font u-text u-text-body-color u-text-default u-text-4">Name: <%=name%></h3>
            <h3 class="u-align-left u-custom-font u-text u-text-body-color u-text-default u-text-3">Gender: <%=gender%><span style="font-weight: 700;"></span>
            </h3>
            <h3 class="u-align-left u-custom-font u-text u-text-body-color u-text-default u-text-4">Email: <%=email%></h3>
            <h3 class="u-align-left u-custom-font u-text u-text-body-color u-text-default u-text-5"><b>Phone: <%=phone%></b>
            </h3>
            <h3 class="u-align-left u-custom-font u-text u-text-body-color u-text-default u-text-6">DOB: <%=date%></h3>
            <h3 class="u-align-left u-custom-font u-text u-text-body-color u-text-default u-text-7"><b>Address: <%=address%></b>
            </h3>
            <button id="rzp-button1" class="u-black u-border-none u-btn u-btn-round u-button-style u-custom-font u-hover-custom-color-1 u-radius-50 u-btn-1">PAY NOW&nbsp;</button>
          </div>
        </div>
        <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-custom-color-1 u-list-item u-repeater-item u-shape-rectangle u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <img alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-1" data-image-width="995" data-image-height="396" src="images/pngfind.com-cheque-png-4631079.png">
              </div>
            </div>
            <div class="u-container-style u-custom-color-1 u-list-item u-repeater-item u-shape-rectangle u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <img alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-2" data-image-width="150" data-image-height="54" src="images/616fe88df5ec7d13239e61a6_RazorpayXlogo.svg">
              </div>
            </div>
            <div class="u-container-style u-custom-color-1 u-list-item u-repeater-item u-shape-rectangle u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                <img alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-3" data-image-width="1019" data-image-height="370" src="images/PikPng.com_visa-png_810129.png">
              </div>
            </div>
            <div class="u-container-style u-custom-color-1 u-list-item u-repeater-item u-shape-rectangle u-list-item-4">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                <img alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-4" data-image-width="982" data-image-height="461" src="images/apple-pay-icon-white-text-symbol-alphabet-logo-transparent-png-1363550.png">
              </div>
            </div>
            <div class="u-container-style u-custom-color-1 u-list-item u-repeater-item u-shape-rectangle u-list-item-5">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6">
                <img alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-5" data-image-width="1274" data-image-height="460" src="images/kissclipart-paytm-icon-d4fe53f251eb0e38.png">
              </div>
            </div>
            <div class="u-container-style u-custom-color-1 u-list-item u-repeater-item u-shape-rectangle u-list-item-6">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-7">
                <img alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-6" data-image-width="850" data-image-height="301" src="images/UPI-White.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-shading u-section-3" src="" data-image-width="708" data-image-height="250" id="sec-f1e6">
      <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
    </section>
    
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-0fc3"><div class="u-align-left u-clearfix u-sheet u-sheet-1"></div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="#" target="_blank">
        <span>Frontend by: DIVYANHS MISHRA UID:20BCS5732</span>
      </a>
      <p class="u-text">
        <span>TEAM EXTREMEUM</span>
      </p>
      <a class="u-link" href="" target="_blank">
        <span>Backend by: MOHD. ABDULLAH IRFAN UID:20BCS5901</span>
      </a>>. 
    </section>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        axios.post('/order').then((info)=>{
            console.log(info)
            var options = {
    "key": "rzp_test_nD57zqOoDS50hb", // Enter the Key ID generated from the Dashboard
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": info.data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url": "http://localhost:3000/is-order-complete",
    "redirect":true,
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
        })
        </script>
  </body>
</html>